<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <!--html에서 자바스크립트 쓸 때 중괄호{}-->
        {% for feed in feed_list %}
        <div>
            <!--태그 생성, 중괄호를 두개 사용해야 view에서 넘어왔다고 인식-->
            <!--한 개는 자바스크립트, 두 개는 데이터 활용-->
            <p>{{feed.content}}</p>
            <p>{{feed.nickname}}</p>
            <img src="{{feed.image}}"/>
            <p>{{feed.like}}</p>
            <p>{{feed.unlike}}</p>

            <!--좋아요, 싫어요 버튼 생성-->
            <form action="{% url 'content:isliked' feed.id %}" method="post">
                {% csrf_token %}
                <button type="submit" name="isliked" value="좋아요">좋아요</button>
                <button type="submit" name="isliked" value="싫어요">싫어요</button>
            </form>

            <p>생성된 날짜 : {{feed.created_at}}</p>
            <p>수정된 날짜 : {{feed.updated_at}}</p>

            <!--수정 버튼 생성-->
            <!--content의 urls의 modify관련 url 뒤에 feed의 id를 넣어 수정할 피드를 설정한다.-->
            <form action="{% url 'content:modify' feed.id %}" method="get">
                <button type="submit">수정</button>
            </form>
            <!--삭제 버튼 생성-->
            <!--content의 urls의 modify관련 url 뒤에 feed의 id를 넣어 삭제할 피드를 설정한다.-->
            <form action="{% url 'content:delete' feed.id %}" method="post">
                {% csrf_token %}
                <button type="submit">삭제</button>
            </form>
        </div>
        <hr/>
        <!--for문 끝내기-->
        {% endfor %}
    </body>
    <!--content 폴더의 urls.py 파일에서 post라는 이름의 url을 사용한다.-->
    <!--a 태그는 get방식 (print()와 같은 방식)-->
    <a href="{% url 'content:post' %}">
        글쓰기
    </a>
</html>